* {
   box-sizing: border-box;
   font-family: serif;
}

.body_login{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: -webkit-linear-gradient(to right, #272727, #000000);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #52568a, #166d74);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   width: 100%;
   overflow: hidden;
}

.containerLogin {
   position: relative;
   width: 500px;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.containerLog span {
   position: absolute;
   margin: auto;
   width: 400px;
   height: 400px;
   inset: 0;
   border: 2px solid #fff;
   transition: 0.3s;
   padding: 0px;
}

.containerLog span:nth-child(1) {
   border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
   animation: animate 10s linear infinite;
}

.containerLog span:nth-child(2) {
   border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
   animation: animate 8s linear infinite;
}

.containerLog span:nth-child(3) {
   border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
   animation: animate2 14s linear infinite;
}

.containerLog:hover span {
   border: 6px solid var(--clr);
   filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
   0% {
       transform: rotate(0deg);
   }

   100% {
       transform: rotate(360deg);
   }
}

@keyframes animate2 {
   0% {
       transform: rotate(360deg);
   }

   100% {
       transform: rotate(0deg);
   }
}

.form-container {
   position: relative;
   width: 300px;
   height: 100%;
   display: block;
   padding: 10px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
}
.form-contenedor{
   position: relative;
   width: 300px;
   height: 100%;
   display: flex;
   padding: 10px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
}

.title-form-contenedor {
   font-size: 2em;
   color: #fff;
   padding:10px 0px 10px
}

.input-container {
   position: relative;
   width: 100%;
   padding: 10px 0px 10px;
}

.input-container input {
   position: relative;
   width: 100%;
   padding: 12px 20px;
   background: transparent;
   border: 2px solid #fff;
   border-radius: 40px;
   font-size: 1.2em;
   color: #fff;
   box-shadow: none;
   outline: none;
}

.input-container input[type="submit"] {
   width: 100%;
   background: #0078ff;
   background: -webkit-linear-gradient(to right, #240b36, #c31432);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #240b36, #c31432);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   border: none;
   cursor: pointer;
}

.input-container input::placeholder {
   color: rgba(255, 255, 255, 0.75);
}

.links-container {
   position: relative;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.links-container a {
   color: #fff;
   text-decoration: none;
}